body {
	background-color: #E9F1F5;
}

h4 {
	margin-left: 15px;
	color: #FA5C28;
}


/**************************************************/
/* style input fields and <Start Cage Match>, <Show Badges> buttons
/**************************************************/
.nameInput {
	margin-top: 10px;
}


.label-info {
	background: none;
	font-size: 24px;
	color: black;
	font-weight: 500;
}


input {
	margin-top: 10px;
}

input[type="text"] {
    width: 200px;
}


#go, #showBadges {
	margin-top: 30px;
	margin-left: 22%;
	font-size: 27px;
	background: #bec9d1;
	border: 3px solid black;
	border-radius: 10px;
	outline: none;
}



/**************************************************/
/* style output
/**************************************************/
.personPanel {
	margin-top: 50px;
}


#profileThumbnail {
	border: 2px solid black;
}


.points {	
	font-size: 20px;
	margin-top: 40px;
	margin-left: 10%;
	color: black;
	font-weight: 500;

}


#winner {
	font-size: 40px;
	margin-top: 10%;
	margin-left: 20%
	width: 200px;
	padding: 35px 20px 35px 40px;
	background-color: #FA5C28;
	border: 2px solid black;
}

.winnerName {
	margin-top: 60px;
	margin-left: 17%;
	border-bottom: 5px dotted red;
}



/**************************************************/
/* badges
/**************************************************/
#badgeNameHeader {
	font-size: 40px;
	color: #FA5C28;
	font-weight: 900;
	margin-left: 6%;
}



